<footer>
    <div class="text-center">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-8 mt-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic modi nobis, minima enim iure nihil
                    voluptate recusandae sint iste aperiam. Velit magnam totam aspernatur impedit quo quas aut hic
                    deleniti.
                </div>
            </div>

            <div class="text-center mb-2">
                <a href="" class="me-4">
                    <i class="bi bi-facebook"></i>
                </a>

                <a href="" class="me-4">
                    <i class="bi bi-twitter"></i>
                </a>

                <a href="" class="me-4">
                    <i class="bi bi-google"></i>
                </a>

                <a href="" class="me-4">
                    <i class="bi bi-instagram"></i>
                </a>

                <a href="" class="me-4">
                    <i class="bi bi-github"></i>
                </a>

            </div>
        </div>
    </div>
</footer>